<div class="input-group">
  <input type="search" id="searchInput" class="form-control rounded" placeholder="Search for Recipes"
    aria-label="Search" aria-describedby="search-addon" />
  <button type="button" id="search-button" class="btn btn-outline-primary">search</button>
</div>



{{#each hits as |hit|}}
<div class="card" style="width: 18rem;">
  <img src="{{hit.recipe.images.REGULAR.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{hit.recipe.label}}</h5>
    <p class="card-text">From {{hit.recipe.cuisineType}}</p>
    <p class="card-text">From {{hit.recipe.source}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Feeds {{hit.recipe.yield}}</li>
    <li class="list-group-item"><a href="{{hit.recipe.url}}" class="card-link">See the Recipe</a></li>
    <li class="list-group-item"><a href="#" class= "button">ADD TO MY LIST</a></li>
  </ul>
</div>
{{/each}}


<script src="/js/recipe.js"></script>